package home

import (
    "com.github.denisbytes.goimageai/view/layout"
)

templ Index() {
    @layout.App(true) {
        <div class="text-5xl text-accent">
            Hello from the home page
        </div>
    }
}